$creamyWhite: #F9F7F2;
$sunnyOrange: #FFA500;
$skyBlue: #4FA0D8;
$barnRed: #B53432;
$harvestGold: #FFD700;
$richBrown: #8B5A2B;
$earthyGreen: #5CB16D;

$charcoal: #364652;
$black: #071108;

$normalMargin: 10px;

body {
  height: 100vh;
  width: 100vw;
}

#app {
  background-color: $charcoal;
  color: $creamyWhite;
  min-height: 100%;
  min-width: 100%;

  * {
    font-family: 'Helvetica';
  }
}

.nav {
  align-items: center;
  background-color: $creamyWhite;
  color: $charcoal;

  .nav-item {
    margin: $normalMargin;
  }

  h1 {
    color: $black;
  }

  img {
    width: 50px;
  }

  a {
    color: $charcoal;
    text-decoration: none;
  }

  button {
    background-color: $sunnyOrange;
    color: $black;
    border: none;
    border-radius: 5px;
    padding: $normalMargin;
    margin: $normalMargin;
  }

  p {
    margin: $normalMargin;
    font-size: x-small;
  }

  li:last-child {
    margin-right: $normalMargin;
    margin-left: auto;
  }
}

.card {
  margin: $normalMargin;
  background-color: $creamyWhite;
  color: $black;

  * {
    color: $black;
  }

  h1, h2, h3, h4, h5, h6 {
    margin: $normalMargin;
  }

  .removeLeftMargin {
    margin-left: 0;
  }
}

.addMargin {
  margin: $normalMargin;
}
